@model BookLendDTO

<input type="hidden" id="bookLendId_@Model.BookId" value="@Model.Id"/>
<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Visitor</span>
    </div>
    <input readonly value="@(string.Join(' ', Model.Visitor.Name, Model.Visitor.Surname))" type="text" class="form-control" aria-label="Visitor" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Phone</span>
    </div>
    <input readonly value="@(Model.Visitor.Phone)" type="text" class="form-control" aria-label="Phone" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
    </div>
    <input readonly value="@(Model.Visitor.Email)" type="text" class="form-control" aria-label="Email" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Borrow Date</span>
    </div>
    <input readonly value="@(Model.BorrowDate.ToString("dd.MM.yyyy"))" type="text" class="form-control" aria-label="Borrow Date" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Estimated Refund Date</span>
    </div>
    <input readonly value="@(Model.EstimatedReturnDate.HasValue ? Model.EstimatedReturnDate.Value.ToString("dd.MM.yyyy") : "-")" type="text" class="form-control" aria-label="Estimated Refund Date" aria-describedby="inputGroup-sizing-sm">
</div>